.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80vw;
    margin: 0 auto;
    position: absolute;
    top:30%;
    left:10%;
  }
  
.level-text{
    flex: 1 1 auto;
    font-family: 'Lexend';
    font-weight: 800;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: 0.7s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 40px;
    width: 40%;
    background-image: linear-gradient(to right, #c42d64 0%, #800f5c 51%, #800f5c 100%);
    cursor: pointer;
}

.level-text:hover {
    background-position: right center; /* change the direction of the change here */
  }

